@import "../../styles/variables.scss";

.dashboard-container {
  border: 1px solid green;
  width: 30vw;
  min-width: 300px;
  margin: auto;

  padding-top: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  button {
    width: 100%;
    margin: 10px 0;
    border-style: none;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: $color-primary;
    color: $font-color-white;
  }
}

.dashboard-header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.dashboard-profile {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 0.5em;
}

#avatar-container {
  max-width: 120px;
  height: auto;
  border: 1px solid $color-inactive;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-top: 20px;

  position: relative;

  .avatar {
    display: block;
    width: 100%;
    border-radius: 50%;
  }

  .avatar-btn {
    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;

    width: 30px;
    height: 30px;
    background-color: $color-inactive;
    padding: 5px;
    border-radius: 50%;

    &:hover {
      background-color: darkgray;
      cursor: pointer;
    }

    image {
      display: block;
      max-width: 100%;
      object-fit: cover;
    }

    .avatar-input {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }
}
