@import "../../styles/variables.scss";

.form-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-label {
  color: $color-primary;
  margin-bottom: 5px;
}

.form-input {
  border-style: none;
  border: 1px solid $color-inactive;
  outline: none;
  padding: 0.5em;
  :focus {
    border: 2px solid $color-primary;
  }
}
